.home-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .calculator-card {
    width: 600px;

    .calculator-form {
      .win-rate-field {
        width: 100px;
      }

      .profit-loss-rate-field {
        width: 100px;
      }
    }

    .result-container {
      height: 100%;
    }
  }
}

.text-align-right {
  text-align: right;
}
